/*
MiniFolio - Main CSS
Copyrights- iStoreDesigns.com - PremiumFreebies.eu
Made by: Oussama Afellad

July - 2011
*/

@import url(http://fonts.googleapis.com/css?family=Roboto:100,200,300,300italic,400,500);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:300,700);

html{background:url(images/bg.jpg) repeat #f5f5f4; height:100%;}
body{
	padding: 0;
	margin: 0px auto auto auto;
	height: 100px;
	color: #000;
	font: 14px "Merriweather Sans","Roboto",Helvetica,Helvetica Neue,Arial;
	font-weight: 300;
}

strong {
	font-weight: 700;
}

/*------------------------general style---------------------------------*/
a{color:#0091ed; text-decoration:none; }
a:hover{text-decoration:none;color:#ca6c18;}
p{
	text-align: justify;
	padding: 5px 0px 5px 0;
	margin: 0px;
	line-height: 20px;
}
.clear{clear:both;}

h1{
	padding: 15px 0px 0 0;
	margin: 0px;
	color: #484848;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	font-weight: 400; 
	font-size:26px;
	border-bottom:1px solid #0091ed;
}

h2{
	padding:20px 0px 0px 0;
	margin:0px;
	font-size:26px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
	color: rgba(0,0,0,1);
}
	
	
	
h3{
	padding:20px 0px 0 0;margin:0px;color:#484848;font-weight:bold;font-size:24px;}
h4{
	padding: 0px 0px 0 0;
	margin: 0px;
		color:#0091ed;
/*	color: #484848;*/
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
}



/***********************************
* main container                   *
************************************/
#main_container{
	width: 960px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom:20px;
	background-color: #fff;
	-moz-box-shadow: 0 0 6px #7d7d7d;
	-webkit-box-shadow: 0 0 6px #7d7d7d;
	box-shadow: 0 0 6px #7d7d7d;
	border-top: 3px solid #0091ed;
}

#header_container{
	height:260px;
	margin-left:0px;
	margin-right:0px;
}

#headshot{
	width:180px;
	padding-top:10px;
	text-align:center;
	float:left;
}

#headshot img {
	border:1px #eeeeee solid;
	padding:5px;
	background-color:#f7f7f7;
	margin-left:5px;
	margin-right:5px;
}

#main_info_container{
	position: relative;
	margin-left: 200px;
	width: 730px;
	padding-left: 0px;
	font-size:14px;
}

#main_info_container h1{
	padding: 10px 0px 0px 0;
	margin: 0px;
	color: #484848;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400; 
	font-size:26px;
	border-bottom:1px solid #0091ed;
}

.entry-date{
	color:#7d7d7d;
}

#main_container_2{width:900px;height:auto;margin:0px 0 0 230px;padding:0px 0 40px 0; float:left; background-color:#fff; position:relative;-moz-box-shadow:0 0 6px #7d7d7d;-webkit-box-shadow:0 0 6px #7d7d7d;box-shadow:0 6px 6px #7d7d7d;}
#header{width:1000px;height:160px;margin:auto;}
a.bookmark{
position:fixed;
top:10px; left:1131px; text-decoration:none;
}
#left_container{
width:255px;
height:100%;
background:url(images/left_bg.jpg) repeat-y top right;
float:left;
position:fixed;
top:0px; left:0px;
}
.footer{
width:255px;
position:absolute;
bottom:0px;
left:0px;
color:#757575;
font-size:11px;
text-align:center;
background:url(images/left_menu_border.gif) no-repeat center top;
padding:5px 0 5px 0;
}


.blue_divider{
	width: 920px;
	height: 1px;
	border-top:2px solid #0091ed;
	clear: both;
	margin: 10px 20px 0 20px;
}

.bottom_divider{
	width: 960px;
	height: 10px;
	background: url(images/bottom_divider.gif) repeat-x  top right;
	clear: both;
	padding: 0 0 0 0px;
	margin: 0px 0 0 0;
}

.main_pic{
	alignment-baseline:alphabetic
}

a#logo {
	display:block;
	float:left;
	width:250px;
	height:20px;
	margin:20px;
}

/*============ Slider Styles ============*/

#slider-wrapper {
    width:998px;
    height:392px;
    margin:0 auto;
    padding-top:0px;
    margin-top:20px;
}

#slider {
    position:relative;
    width:848px;
    height:288px;
    margin-left:0px;
    background:url(images/loading.gif) no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}


/*-------------MAIN NAVIGATION------------------*/

#main_navigation {
	right:0px;
	top: 5px;
	float: right;
	margin: 0px;
	width: 390px;
}
.main-menu {
	position:relative;
	z-index:22;
	font-family:'Droid Sans', arial, serif;
}
.main-menu ul {
	margin:0;
	padding:0;
	list-style-type:none;
}

.main-menu ul a {
	border-right:5px solid #FFFFFF;
}

.main-menu ul a:hover {
	border-bottom:2px solid #0091ed;
}
.main-menu ul li {
	position:relative;
	display:inline;
	float:left;
}
.main-menu ul li a,.main-menu ul li a:link,.main-menu ul li a:visited {
	line-height:24px;
	font-size:14px;
}
.main-menu ul li a:hover {
	color:#ca6c18;	
}
.main-menu ul li a {
	display:block;
	text-decoration:none;
	overflow:hidden;
	padding:0px 15px;
}
* html .main-menu ul li a {
	display:inline-block;
}
.main-menu ul li ul {
	position:absolute;
	left:0px;
	display:block;
	visibility:hidden;
}
.main-menu ul li ul li {
	display:list-item;
	float:none;
}
.main-menu ul li ul li a {
	width:160px;
	padding:5px 10px;
}
.main-menu ul ul {
	background:#FFF;
	border:1px solid #e0e0e0;

}
.main-menu ul ul li a,.main-menu ul ul li a:link,.main-menu ul ul li a:visited {
	height:100%;
	line-height:20px;
	background:transparent !important;
	border-bottom:dotted 1px #e1e1e1;
	padding:5px 10px!important;
}
.main-menuz ul li ul li a:hover,.main-menu ul ul li a:hover {
	text-decoration:none!important;
	margin:0 0px;
	color:#0091ed;
}
.main-menuz ul ul li ul li a:hover,.main-menu ul ul ul li a:hover {
	text-decoration:none!important;
	width:155px;
}


/*-------------- Social Icons --------------*/


#social {
/* margin-left:710px; */
margin-right: 20px;
height:60px;
margin-top:-25px;
}
#social a {
float: right;
display: block;
margin-left: 12px;
height: 45px;
}

.icon-uom {
	background:url(images/logos/UoM_45.jpg) no-repeat;
	height:45px;
	width:36px;
}

.icon-cse {
	background:url(images/logos/CSE_45.jpg) no-repeat;
	height:45px;
	width:68px;
}

.icon-rc {
	background:url(images/logos/RC_45.png) no-repeat;
	height:46px;
	width:32px;
}

.icon-ubc {
	background:url(images/logos/UBC_45.jpg) no-repeat;
	height:45px;
	width:33px;
}

.icon-ece {
	background:url(images/logos/ECE_45.jpg) no-repeat;
	height:45px;
	width:45px;
}
.logos {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.logos:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}




/*------------------------------------------------------home bottom content---------------------------------------------------------------*/
.home_content_bottom{width:520px; float:left; padding:595px 0 0 217px;}
.left_section{width:295px;float:left;padding:0 3px 30px 0;}
.left_section ul{ padding:20px 0 0 0; margin:0px; list-style:none;}
.left_section ul li{ padding:3px 0 3px 0; margin:0px;}
.left_section ul li a{ padding:0px 0 0 15px; margin:0px;color:#686868; background:url(images/bullet_blue.gif) no-repeat left; text-decoration:none;}
.left_section ul li a:hover{color:#0091ed;}
.left_section_more{width:295px; border-top:1px #f0eee5 solid; clear:both; margin:20px 0 0 0;}

.right_section{width:300px;float:right; padding:0 0 30px 0;}
.small_post{width:300px;float:left; clear:both; padding:20px 0 0 0;}
.small_post a{color:#686868; line-height:20px; text-decoration:underline;}
.small_post a:hover{color:#0091ed;}
img.smallpost_thumb{float:left;width:50px; height:50px; border:1px #eeeeee solid; margin:0 20px 0 0;}
.right_section_more{width:300px; border-top:1px #f0eee5 solid; clear:both; margin:20px 0 0 0; float:left;}
.right_section_more a, .left_section_more a{color:#4f4f4d;background-color:#eeeeee;font-size:16px;margin:0px;padding:3px 8px 3px 8px;float:right;}

.left_section p, .right_section p{ padding:20px 0 0 0; margin:0px;}

.home_archive{width:520px; float:left; padding:0px 0 0 217px; clear:both;}
.home_sections{width:520px; float:left; padding:30px 0 0 217px; clear:both;}
.archive_post{
	clear: both;
	padding: 15px 0 15px 0;
	border-bottom: 1px #f0eee5 solid;
	width: 100%;
}
img.post_thumb{
	float: left;
	width: 80px;
	height: 80px;
	border: 1px #eeeeee solid;
	margin: 0 20px 0 0;
}

a img.post_thumb{
	border: 1px #eeeeee solid;
}

a:hover img.post_thumb{
	border: 1px #0091ed solid;
}

span.archive_cat{
	font-size: 11px;
	padding: 0 10px 0 0px;
}
span.archive_date{ background-color:#eeeeee; font-size:11px; padding:2px 10px 2px 10px;}

/*------------------------------------testimonials----------------------------------------*/
.sliderwrapper{width:300px;height:130px;position:relative;clear:both;}
.sliderwrapper .contentdiv{visibility: hidden;position: absolute; left: 0;top:0px; padding:0px;height: 100%;filter: progid:DXImageTransform.Microsoft.alpha(opacity=100);-moz-opacity: 1;opacity: 1;}
.pagination{width:60px;padding:0px;display:block;position:absolute;bottom:0px;right:0px;z-index:99999;}
.pagination a{width:9px;height:9px;background:url(images/circle_pag.gif) no-repeat center;display:block;float:left;text-indent:100px;overflow:hidden;margin:0 3px 0 3px;}
.pagination a:hover, .pagination a.selected{background:url(images/circle_pag_hover.gif) no-repeat center;}
.testimonial_box{width:265px;margin:25px 0 0px 0px;padding:0px 0 15px 25px;background:url(images/quotes_top.gif) no-repeat top left;}
.testimonial_box p{padding:0px 5px 12px 0px;background:url(images/quotes_bottom.gif) no-repeat bottom right;font-style:italic;}
.testimonial_details{width:265px; padding:5px 0 0 0;}
.testimonial_details p{color:#0091ed;font-size:11px; font-style:normal;padding:0px 0 0 15px;background:url(images/bullet_blue.gif) no-repeat left;}

.testimonial_box_wide{width:600px;margin:25px 0 0px 0px;padding:0px 0 15px 25px;background:url(images/quotes_top.gif) no-repeat top left;}
.testimonial_box_wide p{padding:0px 5px 12px 0px;background:url(images/quotes_bottom.gif) no-repeat bottom right;font-style:italic;}
.testimonial_details_wide{width:495px; padding:5px 0 0 0;}
.testimonial_details_wide p{color:#0091ed;font-size:11px; font-style:normal;padding:0px 0 0 15px;background:url(images/bullet_blue.gif) no-repeat left;}
/*--------------------------------------sidebar-----------------------------------------*/
.sidebar{
	width: 200px;
	float: left;
	padding: 57px 10px 0 18px;
	margin-left: 2pm;
	height: 100%;
}
.sidebar h2{padding:15px 0px 0 0;margin:0px;color:#484848;font-weight:bold; font-size:26px;}
.sidebar ul{ padding:20px 0 20px 10px; margin:0 0 20px 0; list-style:none; border-bottom:1px #f0eee5 solid;}
.sidebar ul li{ padding:4px 0 4px 0; margin:0px;}
.sidebar ul li a{ padding:0px 0 0 15px; margin:0px;color:#686868; background:url(images/bullet_blue.gif) no-repeat left; text-decoration:none;}
.sidebar ul li a:hover{color:#0091ed;}
.sidebar_post{width:170px;float:left; clear:both; padding:20px 0 0 0;}
.sidebar_post a{color:#686868; line-height:20px; text-decoration:underline;}
.sidebar_post a:hover{color:#0091ed;}
img.sidebarpost_thumb{float:left;width:50px; height:50px; border:1px #eeeeee solid; margin:0 20px 0 0;}
.sidebar_more{width:170px; border-top:1px #f0eee5 solid; clear:both; margin:20px 0 30px 0; float:left;}
.sidebar_more a{color:#4f4f4d;background-color:#eeeeee;font-size:16px;margin:0px;padding:3px 8px 3px 8px;float:right;}


.sidebar_home{width:170px; float:left; padding:25px 10px 0 18px;}
.sidebar_home h2{padding:15px 0px 0 0;margin:0px;color:#484848;font-weight:bold; font-size:26px;}
.sidebar_home ul{ padding:20px 0 20px 10px; margin:0 0 20px 0; list-style:none; border-bottom:1px #f0eee5 solid;}
.sidebar_home ul li{ padding:4px 0 4px 0; margin:0px;}
.sidebar_home ul li a{ padding:0px 0 0 15px; margin:0px;color:#686868; background:url(images/bullet_blue.gif) no-repeat left; text-decoration:none;}
.sidebar_home ul li a:hover{color:#0091ed;}
.sidebar_home_post{width:170px;float:left; clear:both; padding:20px 0 0 0;}
.sidebar_home_post a{color:#686868; line-height:20px; text-decoration:underline;}
.sidebar_home_post a:hover{color:#0091ed;}
.sidebar_home_more{width:170px; border-top:1px #f0eee5 solid; clear:both; margin:20px 0 30px 0; float:left;}
.sidebar_home_more a{color:#4f4f4d;background-color:#eeeeee;font-size:16px;margin:0px;padding:3px 8px 3px 8px;float:right;}


.page_content{
	width: 920px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 0;
	padding-left: 20px;
}
.pages_thumb{border:3px #dfddd4 solid; margin:24px 0 20px 0;}
.pages_post_descr{
	width: 650px;
	border-top: 0px;
	border-bottom: 0px;
	;
	padding: 5px 0 5px 0;
}
.pages_post_descr span{padding:0 25px 0 5px;}
.pages_post_descr span a{color:#0091ed;}
.pages_post_descr span a:hover{text-decoration:underline;}

.page_content ul{ 
/*	padding:10px 0 20px 20px; */
	margin:0; 
}
.page_content ul li{ padding:4px 0 4px 0; margin:0px;}
.page_content ul li a{ margin:0px; text-decoration:none;}}

/*---------------------------portfolio--------------------------------------------------*/
.wide_content{width:730px; float:left; padding:25px 0 0 35px;}

ul.display{float: left;width:710px;margin: 0;padding: 0;list-style: none;}
ul.display li {float: left;width:710px;padding:10px 0 15px 0px;margin: 0;}
ul.display li .content_block .right_det {margin:0;padding:15px 0 0 10px;float:left;width:360px;}
ul.display li .content_block .right_det p {border-bottom:1px #f0eee5 solid;width:360px; margin:0 0 10px 0;}

ul.thumb_view{float: left;width:730px;margin: 0;padding: 0;list-style: none;}

ul.thumb_view li{width:365px; padding:10px 0 10px 0; position:relative; float:left;}
ul.thumb_view li .content_block{ width:370px;}
ul.thumb_view li .content_block .right_det {display:none;}

ul.display img.portofolio_pic{border:3px #dfddd4 solid;float: left;width:300px;height:224px; margin:15px 20px 0 0;}
ul.thumb_view img.portofolio_pic{border:3px #dfddd4 solid;float: left;width:300px;height:224px; margin:20px 0 0 0;}


a.switch_thumb{width:71px;height:24px;line-height:24px;padding: 0;margin:50px 0 0 0;display: block;background: url(images/switch.gif) no-repeat;outline: none;text-indent: -9999px; position:absolute; top:40px; right:35px;}
a:hover.switch_thumb {filter:alpha(opacity=75);opacity:.75;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";}
a.swap { background-position: left bottom; }


blockquote{text-align:justify;padding:0px 0 0px 10px;margin:5px 0px 15px 0;line-height:20px; border-left:2px solid #f0eee5;}
.small_gallery{padding:20px 0 20px 0;}
ul.gallery{padding:0 0 0 0; margin:0px; list-style:none; border:none;}
ul.gallery li{padding:0px; margin:0px; background:none; float:left;}
ul.gallery li a{padding:0px; margin:0px; background:none; float:left;}
img.gallery_thumb{float:left;width:50px; height:50px; border:1px #eeeeee solid; margin:4px 4px 0 0;}

.textwidget{ padding:0 0 20px 0;}

.navigation{ width:650px; float:left; clear:both; padding:30px 0 0 0;}
a.nav_left{color:#4f4f4d;background-color:#eeeeee;font-size:16px;margin:0px;padding:3px 8px 4px 8px;float:left;}
a.nav_right{color:#4f4f4d;background-color:#eeeeee;font-size:16px;margin:0px;padding:3px 8px 4px 8px;float:right;}

/*---------------------------full width--------------------------------------------------*/
.fullwidth_content{width:832px; float:left; padding:25px 0 0 28px;}
.fullwidth_content ul{ padding:10px 0 20px 20px; margin:0; list-style:none;}
.fullwidth_content ul li{ padding:4px 0 4px 0; margin:0px;}
.fullwidth_content ul li a{ padding:0px 0 0 15px; margin:0px;color:#686868; background:url(images/bullet_blue.gif) no-repeat left; text-decoration:none;}
.fullwidth_content ul li a:hover{color:#0091ed;}
/*---------------contact_form------------------*/
.form_content{width:520px;float:left;padding:10px 0px 10px 0px;}
.form_row{width:520px;clear:both;float:left;padding:10px 0 10px 0;}
.form_row label{width:150px;float:left;font-size:13px;text-align:right;padding:0px 20px 0 0;font-weight:bold;height:30px;background-color:#e3e3e3;line-height:30px;}
input.form_input{width:345px;height:30px;background-color:#eeeeee;color:#4f4f4d;border:none;float:left;padding:0px 0 0 5px;}
textarea.form_textarea{width:345px;height:90px;font-family:Arial, Helvetica, sans-serif;background-color:#eeeeee;color:#4f4f4d;border:none;float:left;padding:10px 0 0 5px;font-size:12px;}
input.form_submit{width:auto;height:auto;color:#4f4f4d;font-size:18px; text-align:center; font-family:Arial, Helvetica, sans-serif;cursor:pointer;float:right;margin:0px;padding:5px 20px 5px 20px;background-color:#eeeeee;
border:1px solid #dedede;}
label.error { width:345px; display: block; float: right; color: red; padding:5px 0 0 0px; background:none; text-align:left; font-size:12px; font-weight:normal; }
